.products{
padding: 20px;
width: 570px;
font-size: 20px;
text-align: center;
}
.products th{
  background-color: brown;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.products tr{
  border-bottom:solid 1px #e8e8e8;
}
.products td{
  vertical-align: middle;
  border-right: solid 1px #e8e8e8;
}
.product_price{
width:30px;
}
.product_img{
  height:150px;
  width:150px;
}
.product_name{
  vertical-align: top;
  width:320px;
}
.product_price{
  width:100px;
}
.sum{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-bottom: solid 5px brown;
  padding-bottom: 5px;
}

.buy_user_info{
position: absolute;
margin-left: 50%;
margin-top: 100px;
}
