.products_info li{
  display: inline-block;
  width:15%;
  margin-left: 30px;
}

.products{
padding: 20px;
margin:0 auto;
width: 960px;
font-size: 20px;
position: relative;
text-align: center;
}
.products th{
  background-color: brown;
  padding-top: 10px;
  padding-bottom: 10px;
}
.products tr{
  border-bottom:solid 1px #e8e8e8;
}
.products td{
  vertical-align: middle;
  border-right: solid 1px #e8e8e8;
}
.product_price{
width:30px;
}
.product_img{
  height:150px;
  width:150px;
}
.product_name{
  vertical-align: top;
  width:320px;
}
.product_price{
  width:100px;
}
.quantity{
  width:50px;
}
.subtotal{
width:200px;
}
.product_delete{
  width: 110px;
}
.sum{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-bottom: solid 5px brown;
  margin-bottom: 10px;
}
