html,body{
  height:100%;
}
.itemimg{
  width:300px;
  height:300px;
  margin:0px auto;
  margin-top:50px;
  border: solid 10px #f8f8f8;
}
img{
  width:100%;
  height:100%;
}
.add_cart{
  height:120px;
  width:120px;
  margin:0 auto;
  margin-top: 0px;
  position: relative;
}
.add_cart a{
  position: absolute;
  height:10px;
  width:100px;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  text-decoration: none;
}
.price{
  background-color: indianred;
  bottom:50px;
  right:50px;
  text-align: center;
  padding: 10px;
}

.review_background_color{
  background-color: brown;
}
.review{
  width: 960px;
  margin:0 auto;
  padding-bottom:10px;
}
.reviewer{
  text-align: center;
  padding: 10px;
  display: inline-block;
}
.posted_date{
  text-align: center;
  padding: 10px;
  display: inline-block;
}
.posted_text{
  padding: 10px;
  text-align: center;
  border-bottom: solid 1px ;
}
