.cards{
  letter-spacing: -.4em;
}
.card{
  width:25%;
  height:320px;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}
.card img{
  height:320px;
  width:100%;
}
.cardfooter{
  position: absolute;
  width: 100%;
  height:50px;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.2);
  letter-spacing: normal;
  text-align: center;
  color: #e8e8e8;
}
.cardfooter p{
  margin-top: 15px;
}
.message{
  text-align: center;
  margin-top:200px;
  font-size: 30px;
}
